@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-50 text-slate-800;
  }
}

@layer utilities {
  .card-hover {
    @apply transition-all duration-300 ease-in-out;
  }
}
